<!DOCTYPE HTML>
    <div class="center jumbotron">
        <h1>Twitter Clone</h1>
        <h2>This is the homepage of Twitter Clone</h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
</DOCTYPE>